@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Abel');

* { 
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: 0;
    vertical-align: baseline;
    font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
    box-sizing: border-box;
}


html{
    font-size: 16px;
    font-family: "Lato",sans-serif !important;
}

body{
    min-height: 100vh;
    width:100%;
    background-color: #FFFFFF;
    display:flex; 
    flex-direction:column; 
    position: relative;
    overflow-x: hidden;
}

/*THIS IS CSS FOR NAVIGATION*/


.navigation {
  height: 70px;
  background: #3282B8;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #3282B8;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #0F4C75;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background:#3282B8 ;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

@media screen and (max-width: 799px) {
 .testwrap{
   flex-direction: column;
 }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


footer{
  width: 100%;
  flex: 0 1 auto;
  background: #3282B8;
  display: flex;
  color: #ffffff;
  padding: 10px;
justify-content: space-evenly;
}

.footwrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.adressbox{
  display: flex;
    width: 100%;
    align-items: center;
    font-size: 20px;
}

.adressbox > ul{
  list-style-type: none;
}


.socials{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.socials > img {
  height: 40px;
  margin: 5px;
}
.navigationfoot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
    font-size: 20px;
}
main{
  display: flex;
  max-width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  flex-direction: column;
}

h1{
  margin: 60px 0 250px 0;
  width: 100%;
  font-size: 35px;
  text-align: center;
  color: #1B262C;
  font-weight: 300;
  font-family: "Lato",sans-serif;
  background: rgba(252, 247, 248, 0.5);
}

h3{
  margin: 50px 0 50px 0;
  width: 100%;
  font-weight: 300;
  font-size: 25px;
  font-family: 'Lato';
  text-align: center;
  color: #1B262C;
}

.underheading{
  margin: 20px 0 25px 0;
  width: 100%;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #1B262C;
  font-family: 'Lato';
}


footer > p {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.mainpics{
  max-width: 100%;
 
}


.navigationfoot > a{
  color: #FFFFFF;
}

.landinglogo{
  height:50px;
  width: 50px;
  margin-bottom: 15px;
  align-self: center;
}

.testimonialwrap{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/pictures/The-Importance-of-Regular-Dental-Visits-1.jpg");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.googlelogo{
  height: 200px;
  margin-bottom: 15px;
}

.whiteheader{
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  margin: 20px 0 15px 0;
}

.blackheader{
  color: #1B262C;
  font-size: 40px;
  text-align: center;
  margin: 0 0 15px 0;
  font-family: "Lato",sans-serif;
}

.testwrap{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding:10px;
  flex-direction: column;
}

.testimonial{
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
width: 100%;
margin:5px;
padding: 20px;
border-radius: 10px;
text-align: center;
font-size:16px;
color: #FFFFFF;
}

.whitelogo{
  height: 50px;
  margin-top: 12px;
}

@media screen and (max-width: 500px) {
  .teamcontainer{
  flex-direction: column;
  }
}

.author{
  font-size: 16px;
  text-decoration: underline;
}

.expertisewrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 600;
  color: #0F4C75;
  margin-bottom: 25px;;
}

.expertises > li{
  margin: 10px;
}

.grouppic{
  background-image: url(/pictures/group.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 450px;
}

.bigtext{
  text-align: center;
  margin: 0 15px 15px 15px;
  font-weight: 300;
  color:#1B262C;
  font-size: 20px;
 
}

.teamcontainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.teamplayer{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 35px;
  /* padding-bottom: 35px; */
  justify-content: space-around;
  flex-direction: column;
}


.teaminfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
  color:#1B262C;
}

.teamplayer > img{
  height: 200px;
  width: 200px;
  display: flex;
  align-self: center;
}

.teaminfo > p{
  font-size: 20px;
}

.aboutuspic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/Large-dental-office.jpg");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role{
  font-weight: 300;
}

.servicepic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/rockin\ norm.jpg");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.restorativepic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/GettyImages-1302979557.webp");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cosmeticpic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/the-lifespan-of-a-dental-filling.jpg");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prospheticpic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/Pediatric.webp");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pediatricpic{
  width: 100%;
  height: auto;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url("/pictures/2017-02-ChildrensDentalMonth.jpg");
  background-repeat: none;
  background-size: cover;
  align-items: center;
  height: 450px;
  background-position-x: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.factcontainer > img{
  height: 50px;
  margin-bottom: 15px;
}

.factcontainer{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
  flex-direction: column;
}

.factcontainer > .facttextwrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.facttitle{
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #3282B8;
    font-family: 'Lato';
    margin-bottom: 15px;
}
.fact{
  font-weight: 400;
  color: #1B262C;
  font-size: 20px;
  text-align: center;
  margin: 0 15px 0 15px;
}